@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@500&display=swap');

body {
  font-size: 25px;
}

/* Page App */
.pages_element_alyp {
  width: 360px;
  margin: auto;
}

.pages_element_alyp .element_image {
  width: 25%;
  padding-top: 10px;
}

/* Home Pages */
.home_element_pages {
  width: 360px;
  margin: auto;
  padding: 13px 0;
}

/* End */

/* Juz Amma Pages */
.element_juz_amma_items {
  padding: 30px 0 120px 0;
}

.element_juz_amma_items .card_element_items {
  padding: 10px;
  margin: 10px 0;
}

.element_juz_amma_items .card_element_items h6 {
  color: #008081;
  font-weight: 600;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.element_juz_amma_items .card_element_items p {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  color: #161616;
  font-family: 'Lateef', serif;
}

/* End */

/* Hero Pages */
.hero_component_items .card_component_items {
  display: grid;
  padding: 22px 20px;
  margin: 0px 0px 40px 0px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.hero_component_items .card_component_items .card_element_items {
  width: 150px;
  height: 141px;
  padding: 30px 0;
  border-radius: 15px;
  border: 1px solid #004643;
  background: #008081;
  color: aliceblue;
}

.hero_component_items .card_component_items .card_element_items a {
  padding: 5px 0;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

/* End */

/* Navbar Component */
.nav_element_component .navbar {
  margin: 20px auto;
  width: 360px;
}


.nav_element_component .icon_element img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  color: #004643;
}

.nav_element_component .nav-link.active {
  color: #004643;
}

.nav_element_component .icon_element img {
  color: #fff;
}

.nav_element_component .navbar {
  background: #E8FFE0;
  justify-content: space-between;
  border-radius: 16px;
  border: 2px solid #004643;
}

.nav_element_component .navbar .nav-link {
  padding: 5px 0;
  font-weight: 600;
  font-size: 13px;
}

/* End */
/* Player Times */
.prayer-times {
  margin: 20px 20px 80px 20px;
  padding: 20px;
  border: 2px solid #008081;
  border-radius: 10px;
  font-family: inter;
  background-color: #E8FFE2;
}

.prayer-times h2 {
  text-align: center;
  margin-bottom: 20px;
}

.prayer-times table {
  width: 100%;
  border-collapse: collapse;
}

.prayer-times th,
.prayer-times td {
  padding: 10px;
  text-align: center;
  border: 1px solid #004643;
}

.prayer-times th {
  background-color: #004643;
  color: white;
}

.prayer-times tr:nth-child(even) {
  background-color: #fff;
}

/* Loading Spinner Styles */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #004643;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Favorite Element */
.element_fav_pages {
  min-height: 550px;
  padding: 30px 10px;
}

.element_fav_pages .Card_surah_items {
  padding: 20px 25px;
  min-height: 300px;
  margin: 20px 0;
  background: #E8FFE0;
  border-radius: 14px;
  border: 1px solid #008081;
}

.element_fav_pages .Element_card_surah {
  display: flex;
  justify-content: space-between;
}

.element_fav_pages .Element_card_surah h6 {
  font-size: 17px;
  font-weight: 700;
  color: #004643;
}

.element_fav_pages .element_btn_items {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.element_fav_pages .element_btn_items .btn_items_surah {
  margin: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 11px 12px;
  background: #E8FFE0;
  color: #008081;
  border-radius: 7px;
  font-weight: 600;
  border: 1px solid #008081;
}

.element_cari_surah_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* End */

/* Element Setting Pages */

.element_set_pages {
  min-height: 500px;
  padding: 70px 20px;
}

.element_set_pages .list-group {
  border: none;
}

.element_set_pages .list-group-item {
  padding: 25px;
  border: none;
  background: none;
}

.element_set_pages {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.element_set_pages .link_element {
  text-decoration: none;
  color: black;
}

.element_set_pages body.dark-mode {
  background: #E8FFE0;
}

.element_set_pages .element_vr_santri {
  padding-top: 120px;
}

.element_set_pages .element_vr_santri h6 {
  font-size: 17px;
  font-weight: 700;
  color: #004643;
}

.element_set_pages .element_vr_santri span {
  font-size: 12px;
}

.element_set_pages .element_vr_santri p {
  font-size: 12px;
}

/* End */

/* Element tentang Pages */
.element_tentang_pg {
  padding: 150px 20px;
  min-height: 530px;
  font-family: "Raleway", sans-serif;
}

.element_tentang_pg .title_heading {
  font-weight: 600;
  color: #008081;
}

/* End */

/* Element Doa Pages */
.element_page_doa {
  padding: 60px 0;
  font-family: "Raleway", sans-serif;
}

.element_page_doa .element_card_items {
  padding: 20px 15px;
  margin: 10px 0;
}

.element_page_doa .element_card_items p {
  font-weight: 500;
  color: #008081;
  font-size: 15px;
}

.element_page_doa .element_card_items h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/* Element Asmaul Husna Pages */
.pages-asmaul-husna {
  padding: 20px 0;
  font-family: "Raleway", sans-serif;
}

.element_pages_asmaulhusna {
  padding: 30px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.element_pages_asmaulhusna .element_card_items {
  padding: 30px 16px;
  font-size: 25px;
  text-align: center;
  border: 2px solid #008081;
  border-radius: 7px;
  background: #E8FFE0;
}

.element_pages_asmaulhusna .element_card_items h3 {
  font-family: 'Lateef', serif;
  color: #004643;
}

.element_pages_asmaulhusna .element_card_items p {
  font-family: "Raleway", sans-serif;
  font-size: small;
  font-weight: 600;
  color: #004643;
}

/* End */

/* Element Bacaan Solat Pages */
.element_bacaansl_items {
  padding: 60px 0 80px 0;
  font-family: "Raleway", sans-serif;
}

.element_bacaansl_items .card_items_slt {
  padding: 20px 15px;
  margin: 20px 0;
}

.element_bacaansl_items .card_items_slt .title_heading {
  font-size: 17px;
  font-weight: 600;
}

.element_bacaansl_items .card_items_slt .text_bacaan {
  padding: 12px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 35px;
  text-align: right;
}

.element_bacaansl_items .card_items_slt .text_terjemah {
  font-size: 13px;
  line-height: 30px;
}

/* End */

/* Element Wirid Pages */
.element_wirid_pages {
  padding: 60px 0 80px 0;
  gap: 20px;
  font-family: "Raleway", sans-serif;
}

.element_wirid_pages .card_element_wirid {
  margin: 20px 0;
  padding: 20px;
}

.element_wirid_pages .card_element_wirid .title_arab {
  font-size: 25px;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

/* End */

/* Element Component Search */
.element-search-items {
  font-family: "Raleway", sans-serif;
}

.element-search-items h1 {
  text-align: center;
  font-size: 17px;
}

.element-search-items input {
  padding: 10px 7px;
  margin: 0px 10px;
  width: 80%;
  border-radius: 7px;
  border: 1px solid #008081;
}

.element-search-items button {
  padding: 10px 7px;
  border-radius: 7px;
  background: #008081;
  color: #fff;
  border: none;
}

/* End */

/* Element Alquran Pages */
.element_search_items {
  display: flex;
  font-family: "Raleway", sans-serif;
}

.element_search_items input {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
  padding: 0px 20px;
  border-radius: 30px;
  color: #161616;
  border: 1px solid #008081;
  background: #E8FFE0;
}

.element_search_items .Items_btn {
  margin: 5px 5px;
  position: relative;
  background: #008081;
  border: none;
  width: 50px;
  height: 40px;
  color: #fff;
  left: -53px;
  border-radius: 50px;
  font-size: 12px;
}

/* Component Al-Quran */

.component-al-quran .element-search-component input {
  display: flex;
  margin: auto;
  width: 90%;
  padding: 10px;
  border-radius: 7px;
  border: solid 1px #008081;
}

.component-al-quran .element-search-component .element-slide-surah {
  display: flex;
  margin: auto;
  padding: 0 20px;
  justify-content: space-between;
}

.component-al-quran .element-search-component .element-slide-surah a {
  padding: 7px 10px;
  background: #008081;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  border-radius: 30px;
}

.element_alquran_pages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 15px 80px 15px;
  gap: 20px;
  font-family: "Raleway", sans-serif;

}

.element_alquran_pages .loading {
  margin: 150px 140px;
  border: 5px solid #EAF0F6;
  border-radius: 50%;
  border-top: 5px solid #004643;
  width: 50px;
  height: 50px;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.element_alquran_pages .card_element_alquran {
  padding: 20px 15px;
  border: 1px solid #008081;
  border-radius: 7px;
  background: #E8FFE2;
}

.element_alquran_pages .card_element_alquran .title-ayat {
  font-weight: 600;
}

.element_alquran_pages .card_element_alquran span {
  padding: 5px 7px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  background: #008081;
  color: #fff;
  border-radius: 16px;
}

.element_alquran_pages .surah_links {
  text-decoration: none;
  color: #008081;
}

.element_alquran_page .card_element_alquran bg-primary {
  background: #008081;
}

/* End */

/* Element Detail Surah */
.element_detail_surah {
  padding: 60px 15px 80px 15px;
}

.element_detail_surah .btn_back_surah {
  padding: 10px 15px;
  text-decoration: none;
  background: #004643;
  color: #fff;
}

.element_detail_surah .card_element_detail_surah {
  padding: 30px 0;
}

.element_detail_surah .row .col-10 .element_ayat .float-end {
  font-family: 'Lateef', serif;
  text-align: right;
  margin: auto;
  font-size: 35px;
}

.element_detail_surah .element_nomer p {
  display: flex;
  width: 34px;
  height: 40px;
  background-size: contain;
  background-image: url(../assets/image/icon/ic-frame-number.svg);
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

/* Mobile Responsive */

@media only screen and (max-width: 600px) {

  /* Page App */
  .pages_element_alyp {
    width: 360px;
    margin: auto;
  }

  .pages_element_alyp .element_image {
    width: 25%;
    padding-top: 10px;
  }

  /* Home Pages */
  .home_element_pages {
    width: 360px;
    margin: auto;
    padding: 13px 10px;
  }

  /* End */

  /* Hero Pages */
  .hero_component_items .card_component_items {
    display: grid;
    padding: 20px 20px;
    margin: 0px 0px 40px 0px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .hero_component_items .card_component_items .card_element_items {
    width: 140px;
    height: 141px;
    padding: 30px 0;
    border-radius: 15px;
    border: 2px solid #004643;
    background: #008081;
    color: aliceblue;
  }

  .hero_component_items .card_component_items .card_element_items a {
    padding: 5px 0;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
  }

  /* End */
}

/* Mobile Responsive */

@media only screen and (max-width: 600px) {

  /* Page App */
  .pages_element_alyp {
    width: 360px;
    margin: auto;
  }

  .pages_element_alyp .element_image {
    width: 25%;
    padding-top: 10px;
  }

  /* Home Pages */
  .home_element_pages {
    width: 360px;
    margin: auto;
    padding: 13px 10px;
  }

  /* End */

  /* Hero Pages */
  .hero_component_items .card_component_items {
    display: grid;
    padding: 20px 20px;
    margin: 0px 0px 40px 0px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .hero_component_items .card_component_items .card_element_items {
    width: 140px;
    height: 141px;
    padding: 30px 0;
    border-radius: 15px;
    border: 2px solid #004643;
    background: #008081;
    color: aliceblue;
  }

  .hero_component_items .card_component_items .card_element_items a {
    padding: 5px 0;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
  }

  /* End */

}